[Unit]
Description=Apache Brooklyn service
Documentation=https://brooklyn.incubator.apache.org/documentation/index.html

[Service]
ExecStart=/home/vagrant/active-brooklyn/bin/brooklyn launch --persist auto --persistenceDir ~/brooklyn-persistence
ExecStop=/home/vagrant/active-brooklyn/bin/brooklyn shutdown
Restart=on-abort
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target